################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JibbleTask/bin
/JibbleTask/obj/Debug
/packages
/.vs
